@{
    ViewBag.Title = "Espécies";
}

<div class="flex flex-col py-8 px-4 sm:px-2">
    <div class="w-full max-w-screen-md mx-auto mb-8">
        <div class="flex mb-2 h-10">
            <span class="leading-loose text-xl font-bold">Espécies</span>
            <v-spacer></v-spacer>
            <v-btn icon @@click="isAdding = true"><v-icon>mdi-plus</v-icon></v-btn>
        </div>
        <div class="flex flex-col">
            <v-data-table 
                :headers="entitiesHeaders" :items="entities" 
                :items-per-page="25" class="elevation-1" 
                :loading="!entitiesLoaded" loading-text="Carregando..." 
                hide-default-footer disable-sort>
            </v-data-table>
        </div>
    </div>
</div>

<v-dialog v-model="isAdding" content-class="max-w-sm" @@click.stop="isAdding = false">
    <v-card :loading="isProcessing" class="overflow-hidden">
        <v-card-title>Nova espécie</v-card-title>
        <v-divider></v-divider>
        <v-row class="m-0 p-4">
            <v-col class="p-0">
                <div class="mb-1 text-lg">Nome</div>
                <v-text-field v-model="addModel.Name" dense solo hide-details="auto"></v-text-field>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row class="m-0 p-4">
            <v-col cols="6" class="p-0 pr-2">
                <v-btn elevation="0" block outlined color="primary" :disabled="isProcessing" @@click="isAdding = false">Cancelar</v-btn>
            </v-col>
            <v-col cols="6" class="p-0 pl-2">
                <v-btn elevation="0" block color="primary" :loading="isProcessing" @@click="add">Salvar</v-btn>
            </v-col>
        </v-row>
    </v-card>
</v-dialog>

@section Script
{
    <script src="~/Species/Species.js" asp-append-version="true"></script>
}

@section Style {
    <link rel="stylesheet" href="~/Species/Species.css" asp-append-version="true" />
}
